# Lab Segmenting and Clustering Neighborhoods in the city of Toronto, Canada
## by Christian Cisne

### Import dataset

In [1]:
import pandas as pd

### Load dataset

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
rawdata = pd.read_html(url)

In [3]:
rawdata[0].head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

## Clean dataset

In [4]:
#Create a copy of raw dataset
df_toronto = rawdata[0].copy()

#Ignore cells with a borough that is Not assigned.
df_toronto.drop(df_toronto.loc[df_toronto['Borough']=="Not assigned"].index, inplace=True)

#If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
df_toronto['Neighborhood'].replace(to_replace=['Not assigned'], value=[df_toronto['Borough']], inplace=True)

#Reset dataset index
df_toronto.reset_index(inplace=True)
df_toronto.drop(['index'], axis=1, inplace=True)

df_toronto.head()

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [5]:
df_toronto.shape

(103, 3)